.film_list {

}

.film_list__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background: transparent;
}

.film_item {
    position: relative;
    padding: 24px;
    display: flex;
    column-gap: 24px;
    background-color: #fff;
    border-radius: 8px;
}

.film_item__counter {
    position: absolute;
    right: 24px;
    top: 24px;
}

.film_item__poster_box {
    width: 100px;
    height: 120px;
}
.film_item__poster_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.film_item__title {
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 8px;
}

.film_item__genre {
    font-size: 16px;
    line-height: 20px / 16px * 100%;
    font-style: italic;
}